<% if @courses.any? %>
  <% @courses.each do |course| %>
    <div id="course-<%= course.id %>">
      <h3><%= course.title %></h3>
      <p><%= course.description  %></p>

      <% if course.deliveries %>
        <h5>Delivery dates:</h5>
        <ul>
          <% course.deliveries.each do |date| %>
            <li><%= date.start_date %></li>
          <% end %>
        </ul>
      <% end %>

      <%= link_to 'Add Delivery date', "/courses/#{course.id}/add_date" %>
    </div>
  <% end %>
<% else %>
  <h1>You have not created any courses</h1>
<% end %>

<% if current_user %>
  <%= link_to 'Create course', '/courses/create' %>
<% end %>
